header {
    background-color:#1F2937 ;
    margin: none;
    padding: none;
}

.headerlinks {
    display: flex;
}

.headerlogo {
    color: #F9FAF8;
    font-size: 24px;
    margin-left: 200px;
    margin-right: 200px;
}

.hl {
    color: #E5E7EB;
    margin: 5px;
    padding: 5px;
    
}

.hl1 {
    margin: 5px;
    margin-left: 500px;
    padding: 5px;
    color: #E5E7EB;
}

h1 {
    display: flex;
    font-size: 48px extra-bold;
    color: #F9FAF8;
}

.line2 {
    display: flex;
    margin-top: 20px;
}

h1 {
    margin-left: 200px;
    margin-right: 200px;
}

.pic {
    margin-left: 430px;
}

p {
    margin-left: 200px;
    margin-right: 1200px;
    margin-bottom: 15px;
    color: #F9FAF8;
}

.button {
    border: none;
    padding: 7px 16px;
    margin-left: 250px;
    margin-bottom: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
}

/* zweiter teil der website */



.headline {
    font-size: 36px extra-bold;
    color: #1F2937;
    margin-left: 720px;
    margin-right: 720px;
}

.kanguru_bilder {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    border: #3882F6 solid 3px;
    margin: 25px;
    height: 150px;
    width: 290px;
    
}

.bild {
    object-fit:fill;
    height: 100%;
    width: 100%;
}

.beschreibung { /*parent */
display: flex;
justify-content: center;
text-align: center;

}

.textbeschreibung { /*child*/
    margin: 25px;
    height: 150px;
    width: 290px;
}


/*Section 3 */

.section3 {
    background-color: #E5E7EB;
}

.parent_text_2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.text_2 {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    padding: 50px;
    padding-left: 750px;
    padding-right: 750px;
}

.parent_zitateur {
    display: flex;
    justify-content: center;
    text-align: center;
}

.zitateur {
    /*margin: 10px;*/
    margin-left: 450px;
    font-size: 21px;
    margin-bottom: 25px;
}


/*Section 4 */

.section4 {

}

.flex_container {
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.container_s3 {
    background-color: #3882F6;
    margin: 50px;
    padding: 25px;
}

.headline{
    font-size:xx-large ;
    color: #E5E7EB;
}

.text_s3 {
    color: #E5E7EB;
    font-size:x-large;
}


.button_s3 #button {
    border: #F9FAF8 solid 1px;
    align-self: center;
    margin: 40px;
}